.img_background {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../media/homeImg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.text-container {
    padding: 0 1rem;
    .main-heading {
        font-size: 5rem;
        color: rgba($metallic, 0.9);
    }
    .tag-line {
        color: $text-primary;
        padding-bottom: 2rem;
    }
}
.buttons {
    button {
        padding: 1rem 1.5rem;
        font-size: 1rem;
        font-weight: bold;
        background: transparent;
        border-radius: 10px;
        border: 2px solid $text-primary;
        cursor: pointer;
        &:hover {
            background: $blue;
            color: $text-primary;
        }
    }
}

// Media Query
@media all and (max-width: 562px) {
    html {
        font-size: 12px;
    }
    .break {
        display: none;
    }
}