.form-control {
    background: $gray;
    width: 300px;
    padding: 0.8rem;
    margin: 0 auto;
    input {
        width: 95%;
        padding: 0.8rem;
        margin: 1rem 0;
        border: 1px solid $metallic;
        &:focus {
            border: 2px solid $metallic;
        }
        font-weight: bold;
    }
}
.login-heading {
    font-size: 2rem;
    margin: 1rem 0;
}