/*contains reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*My reset*/
*::before, *, *::after {
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  font-size: 0;
  vertical-align: top; }

button,
input,
textarea {
  box-shadow: none;
  outline: 0;
  border: 0; }

/*contains colors and font family etc.*/
/*contains the font sizes etc.*/
/*Base styles*/
html {
  font-size: 16px;
  line-height: 1.5; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: #D9E5D6; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.75rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

p {
  font-size: 1rem; }

/*Align text*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/* Center child*/
.center-child {
  display: grid;
  place-items: center; }

/*Flex properties*/
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.align-start {
  display: flex;
  align-items: flex-start; }

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px; }

/* Buttons */
#drop {
  display: none; }

.toggle {
  background: #FCFCFC;
  padding: 0.5rem 0; }

.toggle {
  display: inline-block;
  position: relative;
  z-index: 99; }

.links {
  display: none;
  padding: 0.5rem; }

#drop:checked ~ .links {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

[class*="grid-"] {
  display: grid;
  grid-gap: 30px; }

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr); }

.header {
  width: 100%;
  background: #EBF5EE;
  padding: 1rem 2rem; }

.logo {
  font-size: 1.5rem; }
  .logo a {
    color: #96ADC8; }
    .logo a:hover {
      color: #00A7E1; }

.userlinks {
  background: #EBF5EE; }

.username {
  display: none;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem;
  color: #96ADC8; }
  .username:hover {
    color: #00A7E1; }

.user-icon {
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.25rem;
  height: 2.25rem; }

.links {
  width: 100%;
  left: 0;
  text-align: center;
  background: #EBF5EE; }

.header-item {
  padding: 0.5rem;
  text-align: right; }
  .header-item a span {
    font-weight: 700;
    font-size: 0.8rem;
    color: #96ADC8; }
    .header-item a span:hover {
      color: #00A7E1; }

@media all and (min-width: 768px) {
  .header {
    padding: 0 4.25rem; }
  .logo {
    font-size: 3rem; }
  .username {
    display: inline; }
  .links {
    width: fit-content;
    left: initial; } }

.footer {
  padding: 1rem;
  background: #283044; }

.footer-item {
  padding: 0.5rem;
  margin: 0.25rem; }
  .footer-item a {
    color: #96ADC8;
    font-size: 1.25rem; }
    .footer-item a:hover {
      color: #61E786; }

.footer-bottom {
  text-align: center;
  color: rgba(255, 255, 255, 0.8); }
  .footer-bottom p {
    font-size: 0.8rem; }
  .footer-bottom span {
    color: #61E786;
    border-bottom: 1px solid #61E786; }

@media all and (min-width: 768px) {
  .footer-item {
    margin: 0 2rem; }
    .footer-item a {
      font-size: 1.5rem; } }

.img_background {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../media/homeImg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; }

.text-container {
  padding: 0 1rem; }
  .text-container .main-heading {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.9); }
  .text-container .tag-line {
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 2rem; }

.buttons button {
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer; }
  .buttons button:hover {
    background: #96ADC8;
    color: rgba(255, 255, 255, 0.8); }

@media all and (max-width: 562px) {
  .break {
    display: none; } }

.form-control {
  background: #EBF5EE;
  width: 300px;
  padding: 0.8rem;
  margin: 0 auto; }
  .form-control input {
    width: 95%;
    padding: 0.8rem;
    margin: 1rem 0;
    border: 1px solid #283044;
    font-weight: bold; }
    .form-control input:focus {
      border: 2px solid #283044; }

.login-heading {
  font-size: 2rem;
  margin: 1rem 0;
  color: #5A5766; }

.profile-pic img {
  width: 180px;
  border-radius: 40px;
  margin: 1rem 0; }

.profile-pic .user-name {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5A5766; }

.profile-btns {
  margin-bottom: 1rem; }
  .profile-btns button {
    border: 2px solid #5A5766;
    margin: 0 auto;
    width: 200px;
    color: #5A5766; }
    .profile-btns button:hover {
      border: 2px solid rgba(255, 255, 255, 0.8); }

.main-section {
  margin-bottom: 2rem; }

.song-form {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 2rem;
  color: #5A5766; }

.playlist-form {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 2rem;
  color: #5A5766; }
  .playlist-form h2 {
    margin-bottom: 2rem;
    color: #5A5766; }

.add-song {
  display: none;
  width: 300px;
  background: #EBF5EE;
  padding: 1rem;
  padding-top: 0; }

.my-playlist {
  width: 100%;
  color: #5A5766; }

.my-playlist-item {
  margin-top: 2rem; }
  .my-playlist-item li {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300; }

.grid-col-one {
  display: grid;
  grid-template-columns: 1fr; }

@media all and (min-width: 600px) {
  aside {
    border-right: 0.5rem solid #EBF5EE; }
  .grid-col-two {
    display: grid;
    grid-template-columns: 1fr 3fr; } }

.playlist-container {
  padding: 2rem; }
  .playlist-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #5A5766;
    letter-spacing: 2px;
    font-size: 1.5rem; }

.playlist .grid-col-3 {
  grid-gap: 0; }

.playlist-header {
  color: #5A5766;
  font-size: 1rem;
  font-weight: 700; }
  .playlist-header div {
    margin: 2rem 0; }

.genre select {
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #5A5766;
  outline: none; }

.song-container {
  color: #00A7E1;
  font-weight: 700; }
  .song-container div {
    margin: 1rem 0; }
  .song-container span {
    font-size: 0.75rem; }

.upvote {
  padding-left: 1rem; }

.pages {
  color: #5A5766; }
  .pages div {
    margin: 1.5rem 0; }

.pagination {
  grid-column-start: 4; }

.previous, .next {
  font-size: 1.5rem; }
  .previous:hover, .next:hover {
    color: #FF9B42; }

.previous {
  margin-right: 0.25rem; }

.next {
  margin-left: 0.25rem; }

@media all and (min-width: 768px) {
  .playlist-container {
    font-size: 2.5rem; }
    .playlist-container h2 {
      font-size: 2.5rem; }
  .playlist-header {
    font-size: 1.5rem; }
  .song-container span {
    font-size: 1rem; }
  .genre select {
    font-size: 1.5rem; } }
